{% extends '/layouts/default.twig' %}

{% block content %}

    <a href="/shop">Назад</a>

    <h2> В категории {{ shop.name }} </h2>

    {% for prod in product %}

        <a href="/product/{{ prod.id }}">{{ prod.name }}{{ prod.id }}</a>
        <p>{{ prod.price }}</p>
        <p>{{ prod.description }}</p>
        <p>{{ prod.quantity }}</p>

    {% endfor %}

{% endblock %}